*{
  &, &:after, &:before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border-style:solid;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling:touch;
    /*border-width:1px;*/
  }
}

html{
  font-size:10px;
}

body{
  line-height: normal;
}

a{
  text-decoration: none;
  color:inherit;
}

h1,h2,h3,h4,h5,h6{
  font-size: inherit;
  font-weight: inherit;
}

button{
  color:inherit;
  &:focus{
    outline:none;  
  }
}

small{font-size: inherit}